<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- beans -->
    <bean
            id="student1" class="com.springcore.Student">
        <!-- setter injection -->
        <property name="id">
            <value>101</value>
        </property>
        <property name="name">
            <value>Siddhant Nagaria</value>
        </property>
        <property name="Address">
            <value>India</value>
        </property>
    </bean>

    <!--    using value as attribute-->
    <bean id="s1" class="com.springcore.Student">
        <property name="id" value="1101"/>
        <property name="name" value="Siddhant"/>
        <property name="Address" value="Delhi, India"/>
    </bean>

    <!--using P-Schema-->
    <bean id="s2" class="com.springcore.Student"
          p:id="1001" p:name="Siddhant" p:Address="Mumbai"
    />
</beans>